body{
  box-sizing: border-box;
  font-size: .8rem;
}

.top{
  margin: 0;
  height: 30vh;
  padding: 1.5rem 0;
  background-image: url(../img/pc-background.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom:solid .25rem rgb(138, 212, 241);
  border-radius: 2%;
}

h1{
  color: rgb(44, 44, 160);
  text-align: center;
  font-style: oblique;
  font-size: 3.5rem;
}

h2{
  font-size:1.25rem;
  text-align: center;
}

/*increased margin, border, padding size */
.sidebar{
  float:right;
  width: 30%;
  text-align: center;
  border: .50rem solid rgb(138, 212, 241); /* increased */
  border-radius: 12px;
  margin: 2rem;  /* adds space around border & text*/
  padding: 1rem; /* adds space around text */
  background-image: url(../img/pc-background.jpg); /*changed background to picture */
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(3, 3, 97);
  font-size: .75rem;
}

.about{
  width:60%;
  padding-top: 1.5rem;
}

.section{
  display:inline-block;
  margin: 3rem .25rem 3rem;
  height: 50vh;
}

span{
  font-size: .5rem;
}

.column{
  float:left;
  width: 33%;
  text-align: center;
  /* don't add margin - too much spaces pushes image to next line */
}

img{
 width:90%;
 height:30vh;
 padding: .1rem; /*add padding between img and border */
 border:solid .25rem rgb(138, 212, 241);
 border-radius: 10%;

}

figcaption{
  font-size: .5rem;
}

